/**
 * reset css
 */
abbr,article,aside,audio,blockquote,body,code,div,em,fieldset,footer,form,h1,h2,h3,h4,h5,h6,header,html,img,label,legend,li,nav,object,ol,p,pre,section,span,table,tbody,tfoot,thead,time,tr,ul,video {
    font-weight: inherit;
    vertical-align: baseline;
    border: 0;
    background-color: transparent
}

iframe {
    font-size: 100%;
    font-weight: inherit;
    vertical-align: baseline
}

iframe,small,strong,sub,sup,td,th {
    margin: 0;
    padding: 0;
    background-color: transparent
}

small {
    border: 0
}

small,strong {
    vertical-align: baseline
}

small,sub,sup {
    font-weight: inherit
}

strong,sub,sup,td,th {
    font-size: 100%
}

body,html {
    height: 100%
}

html {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    overflow-y: scroll;
    box-sizing: border-box;
}

*,:after,:before {
    box-sizing: inherit;
    background-repeat: no-repeat
}

body {
    line-height: 1;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,small,summary {
    display: block
}

audio,embed,iframe,img,object,video {
    max-width: 100%;
    height: auto
}

iframe,strong,sub,sup,td,th {
    border: 0
}

audio:not([controls]) {
    display: none;
    height: 0
}

blockquote,q {
    quotes: none
}

blockquote:after,blockquote:before,q:after,q:before {
    content: none
}

sup {
    vertical-align: text-top
}

input[type=radio],sub {
    vertical-align: text-bottom
}

table {
    border-spacing: 0;
    border-collapse: collapse
}

caption,td,th {
    font-weight: 400;
    text-align: left;
    vertical-align: top
}

input,select {
    vertical-align: middle
}

input[type=checkbox] {
    vertical-align: bottom
}

b,strong {
    font-weight: 700
}

small {
    font-size: 80%
}

abbr,acronym {
    cursor: help;
    text-decoration: none;
    border-bottom: .1em dotted
}

a:active,a:hover {
    outline-width: 0
}

input {
    border-radius: 0
}[role=button],[type=button],[type=reset],[type=submit],button,input[type=file],label {
    cursor: pointer
}[disabled] {
    cursor: default
}

button,input,select,textarea {
    margin: 0;
    text-transform: none;
    border: 0
}

img {
    border-style: none
}

code,kbd,pre,samp {
    font-family: monospace
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: Lato,"PingFang SC","Microsoft YaHei",sans-serif;
    margin: 0;
}

body {
    font-size: 16px;
    line-height: 1.8;
    color: #555;
    background: #F5F5F5;
}

body, html {
    height: 100%;
}

a {
    text-decoration: none;
    background-color: transparent;
    color: tomato;
    border-bottom: 1px solid tomato;
}

a, code {
    word-wrap: break-word;
}

h2, h3, h4, h5, h6 {
    margin: 20px 0 15px;
    padding: 3px 0;
}

h1 {
    font-size: 22px;
}

@media (max-width:767px) {
    h1 {
        font-size:18px
    }
}

h2 {
    font-size: 20px;
}

@media (max-width:767px) {
    h2 {
        font-size:16px
    }
}

h3 {
    font-size: 18px;
}

@media (max-width:767px) {
    h3 {
        font-size:14px
    }
}

h4 {
    font-size: 14px;
}

@media (max-width:767px) {
    h4 {
        font-size:12px
    }
}

h5 {
    font-size: 18px;
}

@media (max-width:767px) {
    h5 {
        font-size:14px
    }
}

h6 {
    font-size: 12px;
}

@media (max-width:767px) {
    h6 {
        font-size:8px
    }
}

article h2:before, article h3:before, article h4:before, article h5:before, article h6:before {
    content: '[';
    margin-right: 4px;
    color: tomato;
}

article h2:after, article h3:after, article h4:after, article h5:after, article h6:after {
    content: ']';
    margin-left: 4px;
    color: tomato;
}

::selection {
    background: tomato;
    color: #fff;
}

img {
    border: 0;
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
}

caption, td, th {
    padding: 8px;
    text-align: left;
    font-weight: 400;
}

caption, code, td, th {
    vertical-align: middle;
}

table {
    margin: 20px 0;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;
    font-size: 14px;
    table-layout: fixed;
    word-wrap: break-all;
}

table>tbody>tr:nth-of-type(odd) {
    background-color: #f7f7f7;
}

td {
    border-bottom-width: 1px;
}

td, th {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #eee;
}

b, dt, optgroup, strong {
    font-weight: 700;
}

blockquote {
    margin: 0;
    padding: 0 15px;
    color: #666;
    border-left: 4px solid #ddd;
}

.recent-posts, .post, .page, .archive, .tag, .category, .archive {
    min-height: 620px;
}

.recent-posts img, .post img, .page img, .archive img, .tag img, .category img, .archive img {
    box-sizing: border-box;
    margin: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 5px 5px 10px #DDD;
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin: 40px 0;
    height: 1px;
    border: none;
    background-color: #F0F0F0;
}

article {
    padding: 20px 0;
}

.container {
    margin: 60px auto;
    position: relative;
    width: 708px;
    background: #FFF;
    padding: 30px;
    border: 1px solid #F0F0F0;
    border-radius: 4px;
    box-shadow: 8px 8px 14px #DDD;
}

@media (max-width:767px) {
    .container {
        margin: 0;
        width: 100%;
        padding: 20px;
        word-break: break-word;
    }
}

.header-outer {
    min-width: 100%;
    display: inline-block;
    padding: 10px 0;
    border-bottom: 1px solid #F0F0F0;
}

.header-site {
}

.header-title {
    font-size: 38px;
}

.header-subtitle {
    font-style: oblique;
    color: #999;
    font-size: 14px;
}

.header-menu {
    margin: 8px 0;
}

.header-nav {
    font-size: 16px;
}

.recent-post-year-title .recent-post-year {
    margin: 18px 0;
    font-weight: 400;
    line-height: 34px;
}

.recent-post-items {
    margin: 15px 0;
}

.recent-post-items .recent-post-time {
    float: left;
    overflow: hidden;
    color: #999;
    font-size: 14px;
    line-height: 25px;
    display: block;
}

.recent-post-items .recent-post-item {
    margin-left: 85px;
    display: block;
}

.recent-post-item a {
    font-size: 16px;
}

@media (max-width:767px) {
    .gitment-editor-footer-tip {
        display: none !important;
    }
}

.post-footer {
    margin-top: 2em;
}

.post-footer .post-category, .post-footer .post-tags, .post-footer .post-author {
    font-size: 14px;
    color: #999;
    text-align: right;
}

.pagination {
    display: table;
    margin-top: 15px;
    width: 100%;
    border-top: 1px solid #F0F0F0;
}

.noborder {
    border: none;
}

.pagination .nav-prev {
    display: table-cell;
    padding: 10px 0 0;
    width: 45%;
    text-align: right;
}

.pagination .nav-next {
    display: table-cell;
    padding: 10px 0 0;
    width: 45%;
    text-align: left;
}

.nav-item a {
    position: relative;
    display: block;
    line-height: 25px;
    font-size: 16px;
    border-bottom: none;
}

.footer-outer {
    margin-top: 2em;
    padding: .4em 0;
}

.footer-items, .footer-other {
    color: #999;
    font-size: 14px;
}

.footer-copyright {
    margin-right: 2px;
}

.footer-year, .footer-author {
    margin: 0 2px;
}

.footer-icon {
    color: tomato;
}

.footer-wordcount {
    margin-left: 2px;
}

/**
 * highlight.css
 */


.highlight {
    border-radius: 1px;
}

.highlight .line {
    font-size: 13px !important;
    height: 20px;
}

.highlight, pre {
    overflow: auto;
    margin: 20px 0;
    padding: 0;
    font-size: 13px;
    color: #4d4d4c;
    background: #f7f7f7;
    line-height: 1.6;
}

figure {
    margin: 1em 40px;
}

.highlight table {
    margin: 0;
    width: auto;
    border: none;
}

.highlight td {
    border: none;
    padding: 0;
}

.gutter {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.highlight .gutter pre {
    padding-left: 10px;
    padding-right: 10px;
    color: #869194;
    text-align: right;
    background-color: #f7f7f7;
}

.highlight pre {
    border: none;
    margin: 0;
    padding: 10px 0;
}

code {
    padding: 2px 4px;
    color: #999;
    background: #f7f7f7;
    border-radius: 3px;
    font-size: 14px;
}

code, pre {
    font-family: consolas,Menlo,"PingFang SC","Microsoft YaHei",monospace;
}

.highlight td {
    border: none;
    padding: 0;
}

caption, td, th {
    padding: 8px;
    text-align: left;
    font-weight: 400;
}

caption, code, td, th {
    vertical-align: middle;
}

.highlight .code pre {
    padding-left: 10px;
    padding-right: 10px;
    background-color: #f7f7f7;
}

.hljs {
    display: block;
    background: white;
    padding: 0.5em;
    color: #333333;
    overflow-x: auto;
}


.line .comment,
.line .meta {
    color: #969896;
}

.line .string,
.line .variable,
.line .template-variable,
.line .strong,
.line .emphasis,
.line .quote {
    color: #df5000;
}

.line .keyword,
.line .selector-tag,
.line .type {
    color: #a71d5d;
}

.line .literal,
.line .symbol,
.line .bullet,
.line .attribute {
    color: #0086b3;
}

.line .section,
.line .name {
    color: #63a35c;
}

.line .tag {
    color: #333333;
}

.line .title,
.line .attr,
.line .selector-id,
.line .selector-class,
.line .selector-attr,
.line .selector-pseudo {
    color: #795da3;
}

.line .addition {
    color: #55a532;
    background-color: #eaffea;
}

.line .deletion {
    color: #bd2c00;
    background-color: #ffecec;
}

.line .link {
    text-decoration: underline;
}